---
import { cupConfig } from '../cup-utils';
import { getEntry } from 'astro:content';
import { maxLevelForLeague } from '../stats';
import Matchup from '../components/Matchup.astro';
import { CupName, Pokemon } from '../models';
import PokemonIndex from '../content/pokemon.ts';
import { getPokemonIdByName } from '../pokemon-utils';
import { values } from '../type-utils';

export async function getStaticPaths() {
  const cups = values(CupName);
  const pokemonIds = values(PokemonIndex);

  return cups.flatMap((cup) =>
    pokemonIds.map((pokemon) => ({
      params: { cup, pokemon },
    })),
  );
}

const { cup, pokemon } = Astro.params;
const cupMeta = await getEntry('metas', cup);
const cupPokemon = await Promise.all(
  cupMeta.data.map((p) => getEntry(p.pokemon)),
).then((pokemons) =>
  pokemons.sort((a, b) => a.data.speciesName.localeCompare(b.data.speciesName)),
);
const maxCp = cupConfig(cup).maxCp;

const pokemonId = await getPokemonIdByName(pokemon);
const species = await getEntry('pokemon', pokemonId);

const teamMember: Pokemon =
  maxCp != null
    ? maxLevelForLeague(species.data, { atk: 5, def: 14, hp: 15 }, maxCp)
    : {
        species: species.data,
        shadow: false,
        ivs: { atk: 5, def: 14, hp: 15 },
        level: 51,
      };
---

<html data-theme="sunset">
  <meta charset="utf-8" />
  <body class="m-2 flex flex-col items-center bg-base-100">
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="/pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-row gap-8 px-1">
        <Matchup opponent={species.data} maxCp={maxCp} />
      </div>
    </div>

    <div class="divider divider-primary italic">Matchups</div>
    <div class="container flex flex-row flex-wrap gap-4">
      {
        cupPokemon.map((p) => (
          <Matchup opponent={p.data} battler={teamMember} maxCp={maxCp} />
        ))
      }
    </div>
    <div class="divider divider-primary italic">
      Questions? Contact @tuchandra on Github
    </div>
  </body>
</html>
