---
import { getEntry } from 'astro:content';
import { withMoveset } from '../pokemonUtils';
import Pokemon from '../components/pokemon.astro';

// const pokemon = await getCollection('pokemon');
const great = await getEntry('metas', 'great');
const greatPokemon = await Promise.all(
  great.data.map(async (p) => getEntry(p.pokemon))
);

const lanturn = await getEntry('pokemon', '0171-lanturn').then((p) =>
  withMoveset(p, {
    fast: ['SPARK', 'WATER_GUN'],
    charged: ['SURF', 'THUNDERBOLT'],
  })
);
const mandibuzz = await getEntry('pokemon', '0630-mandibuzz').then((p) =>
  withMoveset(p, {
    fast: ['SNARL', 'AIR_SLASH'],
    charged: ['AERIAL_ACE', 'DARK_PULSE', 'FOUL_PLAY'],
  })
);
const annihilape = await getEntry('pokemon', '0979-annihilape').then((p) =>
  withMoveset(p, {
    fast: ['COUNTER'],
    charged: ['NIGHT_SLASH', 'SHADOW_BALL', 'ICE_PUNCH'],
  })
);

import { Debug } from 'astro:components';
---

<Debug lanturn={lanturn} />
<html data-theme="sunset">
  <meta charset="utf-8" />,
  <body class="m-2 flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-row px-1">
        <Pokemon pokemon={lanturn} />
        <Pokemon pokemon={mandibuzz} />
        <Pokemon pokemon={annihilape} />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    {greatPokemon.map((p) => <Pokemon pokemon={p} />)}
    <div class="container footer italic">
      <div class="divider divider-primary italic">
        Questions? Contact @tuchandra on Github
      </div>
    </div>
  </body>
</html>
