---
import { getCollection, getEntry } from 'astro:content';
import Matchup from '../components/Matchup.astro';
import { cupConfig } from '../cup-utils';
import { CupName } from '../models';

// const pokemon = await getCollection('pokemon');
const great = await getEntry('metas', 'great');
const greatPokemon = await Promise.all(
  great.data.map(async (p) => getEntry(p.pokemon))
);

const metas = await getCollection('metas');
---

<html data-theme="sunset">
  <meta charset="utf-8" />,
  <body class="m-2 flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="/pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>

    <div class="divider divider-primary mt-0 italic">Leagues</div>
    {
      metas.map((meta) => (
        <div class="mx-4 text-lg">
          <a href={`/${meta.id}`}>{cupConfig(CupName[meta.id]).name}</a>
        </div>
      ))
    }

    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-row px-1">
        <Matchup opponent={greatPokemon[4].data} maxCp={1500} />
        <Matchup opponent={greatPokemon[8].data} maxCp={1500} />
        <Matchup opponent={greatPokemon[12].data} maxCp={1500} />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    {greatPokemon.map((p) => <Matchup opponent={p.data} maxCp={1500} />)}
    <div class="container footer italic">
      <div class="divider divider-primary italic">
        Questions? Contact @tuchandra on Github
      </div>
    </div>
  </body>


</html>
