---
import { getEntries } from 'astro:content';
import Pokemon from '../components/pokemon.astro';
import { getCollection } from 'astro:content';

const pokemon = await getCollection('pokemon');

const species = ['Abomasnow', 'Carbink', 'Slurpuff', 'Lanturn', 'Venusaur', 'Weezing (Galarian)'];
const greatleague = pokemon.filter((p) => species.includes(p.data.speciesName));
---

<html data-theme="sunset">
  <body class="flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-col px-1">
        <Pokemon pokemon={greatleague[0]} />
        <Pokemon pokemon={greatleague[1]} />
        <Pokemon pokemon={greatleague[2]} />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    <Pokemon pokemon={greatleague[3]} />
    <Pokemon pokemon={greatleague[4]} />
    <Pokemon pokemon={greatleague[5]} />
    <div class="container flex flex-col">
      <h1 class="px-4 py-2 text-2xl font-bold text-teal-600">Hello, beep!</h1>
      <p class="group-hover:text-gray px-4 text-blue-500">
        This is very confusing
      </p>
      <button class="btn btn-success m-4">Click me!</button>
    </div>
  </body>
</html>
