---
// Component for one fast move (type, name, energy, damage)

import type { FastMove } from '../models';

interface Props {
  move: FastMove;
}
const { move } = Astro.props;

const energyText = `(+${move.energyGain} E / ${move.turns} T)`;
---

<div class="flex flex-col text-neutral-400">
  <div class="inline-flex items-center">
    <img
      src={`/types/${move.type}.png`}
      alt={move.type}
      class="h-4 w-4 rounded-full"
    />
    <span class="ml-1 text-sm">{move.name}</span>
  </div>
  <span class="text-xs">{energyText} </span>
</div>
