---
// Component for one fast move (type, name, energy, damage)

import type { FastMove } from '../models';

interface Props {
  move: FastMove;
}
const { move } = Astro.props;

const energyText = `(+${move.energyGain} E / ${move.turns} T)`;
---

<div class="table-cell align-middle text-neutral-400">
  <img
    src={`types/${move.type}.png`}
    alt={move.type}
    class="inline h-4 w-4 rounded-full"
  />
  <div class="inline-flex flex-col align-middle">
    <span class="ml-1 text-sm">{move.name}</span>
    <span class="text-xs">{energyText}</span>
  </div>
</div>
