---
// Component for one Pokemon displayed on the homepage.

import { getEntries, type CollectionEntry } from 'astro:content';
import type { Pokemon } from '../models';
import FastMove from './fastMove.astro';
import ChargedMove from './chargedMove.astro';

interface Props {
  pokemon: CollectionEntry<'pokemon'>;
}
const { data } = Astro.props.pokemon;

const fastMoves = await getEntries(data.fastMoves);
const chargedMoves = await getEntries(data.chargedMoves);

const formId = `${data.dex.toString().padStart(4, '0')}_${data.speciesId}`;
const pokemonIcon = `tempicons/${formId}.png`;

// const pokemonIcon = `pokemon/${data.dex}.png`;
const typeIcon = `types/${data.types[0]}.png`;
---

<div class="container mb-1 items-center rounded-md bg-neutral p-2">
  <div class="flex flex-row justify-between">
    <img
      src={pokemonIcon}
      alt={data.speciesName}
      class="h-12 w-12 rounded-full"
    />
    {fastMoves.map((move) => <FastMove move={move.data} />)}
  </div>
  <div class="my-4 flex flex-col gap-4">
    {chargedMoves.map((move) => <ChargedMove move={move.data} />)}
  </div>
</div>
