---
// Astro component for one Pokemon's icon and name.

import type { PokemonSpecies } from '../models';

interface Props {
  pokemon: PokemonSpecies;
}

const { pokemon } = Astro.props;
const dex = pokemon.dex.toString().padStart(4, '0');
const { speciesId, speciesName, types } = pokemon;

const pokemonIcon = `/pokemon/${dex}-${speciesId}.png`;
---

<div class="flex flex-row gap-4">
  <img src={pokemonIcon} alt={speciesName} class="h-12 w-12 rounded-full" />
  <div>
    <h2 class="text-xl font-semibold">{speciesName}</h2>
    <div class="flex flex-row">
      <img
        src={`/types/${types[0]}.png`}
        alt={types[0]}
        class="h-4 w-4 rounded-full"
      />
      {
        types[1] ? (
          <img
            src={`/types/${types[1]}.png`}
            alt={types[1]}
            class="ml-1 h-4 w-4 rounded-full"
          />
        ) : null
      }
    </div>
  </div>
</div>
